---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <p>You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</p>
{% endif %}

<ul style="list-style: none; padding-left: 0;">
{% assign sorted_pubs = site.publications | sort: 'date' | reverse %}
{% for post in sorted_pubs %}
  <li style="margin-bottom: 1.5em; line-height: 1.6;">
    {{ post.authors | replace: 'Lekai Qian', '<b>Lekai Qian</b>' }}.
    {{ post.title | remove: '"' }}.
    <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}.
    {% if post.paperurl %} [<a href="{{ post.paperurl }}">paper</a>]{% endif %}
    {% if post.demourl %} [<a href="{{ post.demourl }}">demo</a>]{% endif %}
    {% if post.codeurl %} [<a href="{{ post.codeurl }}">code</a>]{% endif %}
    {% if post.slidesurl %} [<a href="{{ post.slidesurl }}">slides</a>]{% endif %}
    {% if post.bibtexurl %} [<a href="{{ post.bibtexurl }}">bibtex</a>]{% endif %}
  </li>
{% endfor %}
</ul>
